# - IDE #
.idea

# - Dependencies #
env/

# - Local Development #
#Keep in repository for now.
#run.py

# FlaskAdminLTE should have its own forked repository and packaging, but it is not time for that yet..
#flask_adminlte

# - Modules #
#These have their own repositories. Keep these in the release repository but remove from the core repository.
#app/templates/modules/**
