# - IDE #
.idea

# - Local Development #
localhost_run.py
localhost_run.bat

# - Extra #
requirements_alt.txt
README.rst

# - Dependencies #
.env/
# FlaskAdminLTE should have its own forked repository and packaging, but it is not time for that yet..
#flask_adminlte

# - Modules #
# These have their own repositories.
app/templates/modules/**