        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li>
              <a href="{{ url_for('index') }}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
              <a href="{{ url_for('hrm') }}">
                <i class="fa fa-users"></i> <span>HRM</span>
              </a>
              <a href="{{ url_for('crm') }}">
                <i class="fa fa-users"></i> <span>CRM</span>
              </a>
              <a href="{{ url_for('operations') }}">
                <i class="fa fa-users"></i> <span>Operations</span>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->