/* text recolor */
h1, p, a {
  color: #4DC9C9 !important;
}

/* button recolor */
.nav-pills > li.active > a, .btn-primary {
  background-color: #6C6C6C !important;
  border-color: #6C6C6C !important;
  border-radius: 25px;
}
