<!-- Notifications: style can be found in dropdown.less -->

{% if session['logged_in'] %}

    <li class="dropdown notifications-menu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-warning"></i>
        <span class="label label-warning">10</span>
      </a>
      <ul class="dropdown-menu">
        <li class="header">Placeholder: "You have 10 notifications."</li>
        <li>
          <ul class="menu">
            <!-- inner menu: contains the actual data -->
            {% for message in messages %}
            <li>
              <a href="#" data-toggle="modal" data-target="#Message{{ message.id }}">
                <i class="fa fa-paper-plane-o info"></i>{{ message.title }}
              </a>
            </li>
            {% endfor %}
            <!-- Placeholder Stuff -->
            <li>
              <a href="#">
                <i class="fa fa-exclamation-circle info"></i> 5 new members joined today
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-users warning"></i> 5 new members joined
              </a>
            </li>

            <li>
              <a href="#">
                <i class="fa fa-exclamation-circle success"></i> 25 sales made
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-exclamation-circle danger"></i> You changed your username
              </a>
            </li>
          </ul>
        </li>
        <li class="footer"><a href="#">View all</a></li>
      </ul>
    </li>

{% else %}

    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-warning"></i>
        <span class="label label-info">0</span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="" data-toggle="modal" data-target="#LoginForm">Log in to view notifications.</a></li>
      </ul>
    </li>

{% endif %}
