<!-- Dynamic Modals -->

{% if modals %}
  {# User Add Modal / Dynamic Modal #}
  {% for modal in modals.keys()|sort -%}
    {# Variables #}
    {% set form = forms[modals[modal]['form_id']] %}

    <div class="modal fade" id="{{ modals[modal]['id'] }}" tabindex="-1" role="dialog" aria-labelledby="{{ modals[modal]['aria_label'] }}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="{{ modals[modal]['title_id'] }}">{{ modals[modal]['title'] }}</h4>
          </div>

          {# Form #}
          <div class="modal-body" align="left">
            <form id="{{ form.form_id }}" role="form" method='POST' action="{{ url_for(request.endpoint) }}">
                {{ form.csrf_token }}

                {# User Add Form #}
                {% if form.form_id == 'User-Add-Form'%}
{#                {% if form.form_id == 'User-Add-Form' or 'User-Update-Form'%}#}
                    <h3>Account Information</h3>
                    {% for field in form %}
                      {% if field.render_kw['section'] == 'account' %}
                        <div class="form-group">
                          <label for="{{ field.name }}">{{ field.render_kw['label'] }} {% if field.flags.required %}*{% endif %}</label>
                          {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}
                    <h3>Roles and Permissions</h3>
{#                    <h3>Administrative Roles/Permissions</h3>#}
                    {% for field in form %}
                      {% if field.render_kw['section'] == 'admin' %}
                        <div class="form-group">
                          <i class="{{ field.render_kw['icon'] }}"></i> <label for="{{ field.name }}">{{ field.render_kw['placeholder'] }}</label>
                          {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}
{#                    <h3>Group Roles/Permissions</h3>#}
                    {% for field in form %}
                      {% if field.render_kw['section'] == 'groups' %}
                        <i class="{{ field.render_kw['icon'] }}"></i> <label for="{{ field.name }}">{{ field.render_kw['placeholder'] }}</label>
                        <div class="form-group">
                          {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}


                {# Customer Add Form #}
                {% elif form.form_id == 'Customer-Add-Form'%}
                    <h3>Basic Contact Information</h3>
                    {% for field in form %}
                      {% if field.render_kw['section'] == 'contact_info' %}
                        <div class="form-group">
                          <label for="{{ field.name }}">{{ field.render_kw['label'] }} {% if field.flags.required %}*{% endif %}</label>
                          {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}
                    <h3>Address</h3>
                    {% for field in form %}
                      {% if field.render_kw['section'] == 'address' %}
                          <div class="form-group">
                            <label for="{{ field.name }}">{{ field.render_kw['label'] }} {% if field.flags.required %}*{% endif %}</label>
                            {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}
                    <h3>Other Information</h3>
                    {% for field in form %}
                      {% if field.render_kw['section'] == '' or not field.render_kw['section'] %}
                        <div class="form-group">
                          <i class="{{ field.render_kw['icon'] }}"></i> <label for="{{ field.name }}">{{ field.render_kw['placeholder'] }}</label>
                          {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}


                {# Personnel Add Form #}
                {% elif form.form_id == 'Personnel-Add-Form'%}
                    <h3>Contact Information</h3>
                    {% for field in form %}
                      {% if field.render_kw['section'] == 'contact_info' %}
                        <div class="form-group">
                          <label for="{{ field.name }}">{{ field.render_kw['label'] }} {% if field.flags.required %}*{% endif %}</label>
                          {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}
                    <h3>Address</h3>
                    {% for field in form %}
                      {% if field.render_kw['section'] == 'address' %}
                          <div class="form-group">
                            <label for="{{ field.name }}">{{ field.render_kw['label'] }} {% if field.flags.required %}*{% endif %}</label>
                            {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}
                    <h3>Other Information</h3>
                    {% for field in form %}
                      {% if field.render_kw['section'] == '' or not field.render_kw['section'] %}
                        <div class="form-group">
                          <i class="{{ field.render_kw['icon'] }}"></i> <label for="{{ field.name }}">{{ field.render_kw['placeholder'] }}</label>
                          {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}


                {# Other Forms #}
                {% else %}
                    {% for field in form %}
                      <div class="form-group">
                          <p>{{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                            <span class="error">
{#                              {% if form.username.errors %}#}
{#                                {% for error in form.username.errors %} {{ error }} {% endfor %}#}
                              {% if field.errors %}
                                {% for error in field.errors %} {{ error }} {% endfor %}
                              {% endif %}
                          </span></p>
                      </div>
                    {% endfor %}
                {% endif %}

                <div class="modal-footer">
                    <div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" name="form_submit" value="{{ form.form_id }}" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}

  {# User Update Modal #}
  {% if users %}
    {% for user in users %}
        {# Variables #}

        <div class="modal fade" id="User-Update-Modal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="User-Update-Modal{{ user.id }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="User-Update-Modal{{ user.id }}">Update User: {{ user.username }}</h4>
              </div>

              {# Form #}
              <div class="modal-body" align="left">

{#                        <div class="alert alert-info alert-dismissible" role="alert" style="padding: 10px">#}
                <div class="alert alert-info" role="alert" style="padding: 7px; margin-bottom: 5px">
{#                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                  <strong>Note:</strong> Fields left blank will leave their values unchanged.
                </div>

                <form id="User-Update-Form{{ user.id }}" role="form" method='POST' action="{{ url_for(request.endpoint) }}">
                    {% set form = forms['User-Update-Form'] %}
                    {{ form.csrf_token }}

                    {# User Update Form #}
                        <h3>Account Information</h3>
                        {% for field in form %}
                          {% if field.render_kw['section'] == 'account' %}
                            <div class="form-group">
                              {% if field.render_kw['placeholder'] == 'Username' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=user.username, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'E-mail' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=user.email, class='form-control') }}
                              {% else %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                              {% endif %}
                              <p><span class="error">
                                {% if field.errors %}
                                {% for error in field.errors %} {{ error }} {% endfor %}
                            {% endif %}</span></p></div>
                          {% endif %}
                        {% endfor %}
                        <h3>Roles and Permissions</h3>
                        {# User/App Administration Roles #}
                        {% for field in form %}
                          {% if field.render_kw['section'] == 'admin' %}
                            <div class="form-group">
                              <i class="{{ field.render_kw['icon'] }}"></i> <label for="{{ field.name }}">{{ field.render_kw['placeholder'] }}</label>
                              {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                              <p><span class="error">
                                {% if field.errors %}
                                {% for error in field.errors %} {{ error }} {% endfor %}
                            {% endif %}</span></p></div>
                          {% endif %}
                        {% endfor %}
                        {# Group Roles #}
                        {% for field in form %}
                          {% if field.render_kw['section'] == 'groups' %}
                            <i class="{{ field.render_kw['icon'] }}"></i> <label for="{{ field.name }}">{{ field.render_kw['placeholder'] }}</label>
                            <div class="form-group">
                              {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                              <p><span class="error">
                                {% if field.errors %}
                                {% for error in field.errors %} {{ error }} {% endfor %}
                            {% endif %}</span></p></div>
                          {% endif %}
                        {% endfor %}

                    <div class="modal-footer">
                        <div style="float:left">
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ConfirmDelete{{ user.id }}">Delete</button>
                          {{ form.user_id(value=user.id) }}
                        </div>
                        <div style="float:right">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" name="form_submit" value="{{ form.form_id }}" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!-- Delete Confirmation -->
        <div class="modal fade" id="ConfirmDelete{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="ConfirmDelete{{ user.id }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ConfirmDelete{{ form.form_id }}Title">Confirm Delete of User: {{ user.username }}</h4>
              </div>

              <div class="modal-body" align="center">
                Are you sure?
              </div>
              <form id="User-Delete-Form{{ user.id }}" role="form" method='POST' action="{{ url_for(request.endpoint) }}">
                {% set form = forms['User-Delete-Form'] %}
              {{ form.csrf_token }}
              {{ form.user_id(value=user.id) }}

              <div class="modal-footer">
                <div style="float:left">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Don't delete.</button>
                </div>
                <div style="float:right">
                  <button type="submit" name="form_submit" value="User-Delete-Form" class="btn btn-danger">Yes, I'm sure.</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    {% endfor %}
  {% endif %}


  {# Customer Update Modal #}
  {% if customers %}
    {% for c in customers %}
        {# Variables #}

        <div class="modal fade" id="Customer-Update-Modal{{ c.id }}" tabindex="-1" role="dialog" aria-labelledby="Customer-Update-Modal{{ c.id }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Customer-Update-Modal{{ c.id }}">Update Customer: {{ c.name_first }}, {{ c.name_last }}</h4>
              </div>

              {# Form #}
              <div class="modal-body" align="left">

{#                        <div class="alert alert-info alert-dismissible" role="alert" style="padding: 10px">#}
                <div class="alert alert-info" role="alert" style="padding: 7px; margin-bottom: 5px">
{#                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                  <strong>Note:</strong> Fields left blank will leave their values unchanged.
                </div>

                <form id="Customer-Update-Form{{ c.id }}" role="form" method='POST' action="{{ url_for(request.endpoint) }}">
                    {% set form = forms['Customer-Update-Form'] %}
                    {{ form.csrf_token }}

                    {# Customer Update Form #}
                        <h3>Basic Contact Information</h3>
                        {% for field in form %}
                          {% if field.render_kw['section'] == 'contact_info' %}
                            <div class="form-group">
                              {% if field.render_kw['placeholder'] == 'First Name' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=c.name_first, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'Last Name' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=c.name_last, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'Primary E-mail' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=c.email2, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'Primary Phone #' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=c.phone1, class='form-control') }}
                              {% else %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                              {% endif %}
                              <p><span class="error">
                                {% if field.errors %}
                                {% for error in field.errors %} {{ error }} {% endfor %}
                            {% endif %}</span></p></div>
                          {% endif %}
                        {% endfor %}

                        <h3>Address</h3>
                        {% for field in form %}
                          {% if field.render_kw['section'] == 'address' %}
                            <div class="form-group">
                              {% if field.render_kw['placeholder'] == 'Street Address' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=c.address_street, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'Apt./Suite #' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=c.address_suite, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'City' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=c.address_city, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'State' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=c.address_state, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'Zip Code' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=c.address_zip, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'Zip Extension' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=c.address_zip_extension, class='form-control') }}
                              {% else %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }} {% if field.flags.required %}*{% endif %}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                              {% endif %}
                              <p><span class="error">
                                {% if field.errors %}
                                {% for error in field.errors %} {{ error }} {% endfor %}
                              {% endif %}</span></p></div>
                            {% endif %}
                        {% endfor %}

                        <h3>Other Information</h3>
                        {% for field in form %}
                          {% if field.render_kw['section'] == '' or not field.render_kw['section'] %}
                            <div class="form-group">
                              <label for="{{ field.name }}">{{ field.render_kw['placeholder'] }}</label>
                              {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                              <p><span class="error">
                                {% if field.errors %}
                                {% for error in field.errors %} {{ error }} {% endfor %}
                            {% endif %}</span></p></div>
                          {% endif %}
                        {% endfor %}

                    <div class="modal-footer">
                        <div style="float:left">
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ConfirmDelete{{ c.id }}">Delete</button>
                          {{ form.customer_id(value=c.id) }}
                        </div>
                        <div style="float:right">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" name="form_submit" value="{{ form.form_id }}" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!-- Delete Confirmation -->
        <div class="modal fade" id="ConfirmDelete{{ c.id }}" tabindex="-1" role="dialog" aria-labelledby="ConfirmDelete{{ c.id }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ConfirmDelete{{ form.form_id }}Title">Confirm Delete of Customer: {{ c.name_first }}, {{ c.name_last }}</h4>
              </div>

              <div class="modal-body" align="center">
                Are you sure?
              </div>
              <form id="Customer-Delete-Form{{ c.id }}" role="form" method='POST' action="{{ url_for(request.endpoint) }}">
                {% set form = forms['Customer-Delete-Form'] %}
              {{ form.csrf_token }}
              {{ form.customer_id(value=c.id) }}

              <div class="modal-footer">
                <div style="float:left">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Don't delete.</button>
                </div>
                <div style="float:right">
                  <button type="submit" name="form_submit" value="Customer-Delete-Form" class="btn btn-danger">Yes, I'm sure.</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    {% endfor %}
  {% endif %}


  {# Personnel Update Modal #}
  {% if personnel %}
    {% for p in personnel %}
        {# Variables #}

        <div class="modal fade" id="Personnel-Update-Modal{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="Personnel-Update-Modal{{ p.id }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Personnel-Update-Modal{{ p.id }}">Update Personnel: {{ p.name_first }}, {{ p.name_last }}</h4>
              </div>

              {# Form #}
              <div class="modal-body" align="left">

{#                        <div class="alert alert-info alert-dismissible" role="alert" style="padding: 10px">#}
                <div class="alert alert-info" role="alert" style="padding: 7px; margin-bottom: 5px">
{#                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                  <strong>Note:</strong> Fields left blank will leave their values unchanged.
                </div>

                <form id="Personnel-Update-Form{{ p.id }}" role="form" method='POST' action="{{ url_for(request.endpoint) }}">
                    {% set form = forms['Personnel-Update-Form'] %}
                    {{ form.csrf_token }}

                    {# Personnel Update Form #}
                        <h3>Contact Information</h3>
                        {% for field in form %}
                          {% if field.render_kw['section'] == 'contact_info' %}
                            <div class="form-group">
                              {% if field.render_kw['placeholder'] == 'First Name' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=p.name_first, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'Last Name' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=p.name_last, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'Primary E-mail' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=p.email1, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'Primary Phone #' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=p.phone1, class='form-control') }}
                              {% else %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                              {% endif %}
                              <p><span class="error">
                                {% if field.errors %}
                                {% for error in field.errors %} {{ error }} {% endfor %}
                            {% endif %}</span></p></div>
                          {% endif %}
                        {% endfor %}

                        <h3>Address</h3>
                        {% for field in form %}
                          {% if field.render_kw['section'] == 'address' %}
                            <div class="form-group">
                              {% if field.render_kw['placeholder'] == 'Street Address' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=p.address_street, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'Apt./Suite #' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=p.address_suite, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'City' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=p.address_city, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'State' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=p.address_state, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'Zip Code' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=p.address_zip, class='form-control') }}
                              {% elif field.render_kw['placeholder'] == 'Zip Extension' %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], value=p.address_zip_extension, class='form-control') }}
                              {% else %}
                                <label for="{{ field.name }}">{{ field.render_kw['label'] }} {% if field.flags.required %}*{% endif %}</label>
                                {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                              {% endif %}
                              <p><span class="error">
                                {% if field.errors %}
                                {% for error in field.errors %} {{ error }} {% endfor %}
                              {% endif %}</span></p></div>
                            {% endif %}
                        {% endfor %}

                        <h3>Other Information</h3>
                        {% for field in form %}
                          {% if field.render_kw['section'] == '' or not field.render_kw['section'] %}
                            <div class="form-group">
                              <label for="{{ field.name }}">{{ field.render_kw['placeholder'] }}</label>
                              {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                              <p><span class="error">
                                {% if field.errors %}
                                {% for error in field.errors %} {{ error }} {% endfor %}
                            {% endif %}</span></p></div>
                          {% endif %}
                        {% endfor %}

                    <div class="modal-footer">
                        <div style="float:left">
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ConfirmDelete{{ p.id }}">Delete</button>
                          {{ form.personnel_id(value=p.id) }}
                        </div>
                        <div style="float:right">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" name="form_submit" value="{{ form.form_id }}" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <!-- Delete Confirmation -->
        <div class="modal fade" id="ConfirmDelete{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="ConfirmDelete{{ p.id }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ConfirmDelete{{ form.form_id }}Title">Confirm Delete of Personnel: {{ p.name_first }}, {{ p.name_last }}</h4>
              </div>

              <div class="modal-body" align="center">
                Are you sure?
              </div>
              <form id="Personnel-Delete-Form{{ p.id }}" role="form" method='POST' action="{{ url_for(request.endpoint) }}">
                {% set form = forms['Personnel-Delete-Form'] %}
              {{ form.csrf_token }}
              {{ form.personnel_id(value=p.id) }}

              <div class="modal-footer">
                <div style="float:left">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Don't delete.</button>
                </div>
                <div style="float:right">
                  <button type="submit" name="form_submit" value="Personnel-Delete-Form" class="btn btn-danger">Yes, I'm sure.</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    {% endfor %}
  {% endif %}


{#End Update/Add/Dynamic Modals    #}
{% endif %}


{# Debugging - Use the below form header instead after csv upload/conversion has been refactored. #}
{#<form id="User-Delete-Form{{ user.id }}" role="form" method='POST' action="{{ url_for(request.endpoint) }}">#}
{% if csv_upload_modal %}
{% set modal = csv_upload_modal %}
    {#CSV Modal Header#}
    <div class="modal fade" id="{{ modal.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ modal.aria_label }}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="{{ modal.title_id }}">{{ modal.title }}</h4>
          </div>

        <div class="modal-body">
          <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data" class="form-horizontal">
            <fieldset>
            {#              <legend>#}
            {#                <h3>#}
            {#                  CSV Upload<br/>#}
            {#                  <small></small>#}
            {#                </h3>#}
            {#              </legend>#}
              <h4>File Requirements</h4>
              <ul>
                <li>Must be a .csv file.</li>
                <li>Must contain specific column names.</li>
                <li>Data in all cells must be valid.</li>
              </ul>

              {#CSV Modal Header Body -> User Management#}
              {% if modal.id == 'User-CSV-Upload-Modal' %}
              <h5><strong>About Column Names</strong></h5>
              <p>To upload users, make sure that the column headings (the first row in the file)contain text
                matching following, exactly: 'username', 'email', 'password', 'admin_role'. For each module in your app,
                there should be a column such as 'mod_role', where 'mod' is the 3-letter abbreviationfor the module. For example
                , using only only the 5 default modules included in this app, the columns would be as follows: 'oms_role',
                'crm_role', 'hrm_role', 'ams_role', 'mms_role'.</p>
              <h5><strong>About User Roles</strong></h5>
              <p>The default roles are 'super', 'admin', and 'none'. Super admins will have access to user
                management and app management settings. Basic admins will only have user management settings. Normal
                users should have 'None' as their 'admin_role'; they will have access to no app settings. For module
                roles, 'super' indicates access to all module settings, 'basic' allows usage of the module, but not
                access to any settings, and 'None' means that the user does not have access to that module.</p>
              <p>Note: Any blank cells under '_role' fields will default to 'none'.</p>
              <h5><strong>About Data Validation</strong></h5>
              <p>Please ensure that all data is valid. Valid usernames and passwords are 6-25 characters. E-mails must be 6-50
                characters and be correctly formatted. Roles must be 'super', 'basic', 'none', or blank.
                Any user rows which contain invalid data not matching this criteria will be rejected.</p>

              {#CSV Modal Header Body -> Customer List#}
              {% elif modal.id == 'Customer-CSV-Upload-Modal' %}
              <h5><strong>About Column Names</strong></h5>
              <p>Make sure that the column headings (the first row in the file)contain text
                matching following, exactly: <strong>placeholder</strong>.
              <h5><strong>About Data Validation</strong></h5>
              <p>Please ensure that all data is valid. Valid names, for example, are 6-25 characters. E-mails must be 6-50
                characters and be correctly formatted. <strong>placeholder</strong>
                Any user rows which contain invalid data not matching this criteria will be rejected.</p>

              {#CSV Modal Header Body -> Personnel List#}
              {% elif modal.id == 'Personnel-CSV-Upload-Modal' %}
              <h5><strong>About Column Names</strong></h5>
              <p>Make sure that the column headings (the first row in the file)contain text
                matching following, exactly: <strong>placeholder</strong>.
              <h5><strong>About Data Validation</strong></h5>
              <p>Please ensure that all data is valid. Valid names, for example, are 6-25 characters. E-mails must be 6-50
                characters and be correctly formatted. <strong>placeholder</strong>
                Any user rows which contain invalid data not matching this criteria will be rejected.</p>

              {% endif %}

              {#CSV Modal Footer#}
              <div class="modal-footer">
                {#                {{ form.csrf_token }}#}

                <div style="float:left">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">File</label>
                    <div class="col-sm-5">
                      <input type="file" name="data_file" placeholder="file">
                    </div>
                  </div>
                </div>
                <div style="float:right">
                  <div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" name="form_submit" value="{{ modal.submit_value }}" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endif %}


<!-- Message Popup -->
    {% for message in messages %}
        <div class="modal fade" id="Message{{ message.id }}" tabindex="-1" role="dialog" aria-labelledby="Message{{ message.id }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Messages{{ message.id }}Title">{{ message.title }}</h4>
              </div>

              <div class="modal-body" align="left">
                {{ message.body }}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Mark Read</button>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}

    {% for notification in notifications %}
        <div class="modal fade" id="Message{{ notification.id }}" tabindex="-1" role="dialog" aria-labelledby="Message{{ notification.id }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Messages{{ notification.id }}Title">{{ notification.title }}</h4>
              </div>

              <div class="modal-body" align="left">
                {{ notification.body }}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Mark Read</button>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}

{% if logged_in == False %}

<!-- Login Modal -->
    <div class="modal fade" id="LoginForm" tabindex="-1" role="dialog" aria-labelledby="LoginForm">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="LoginForm-Title">Login</h4>
          </div>

          <form id=LoginForm" role="form" method='POST' action={{ url_for('login') }}>
            {{ login_form.hidden_tag() }}
            {{ login_form.csrf_token }}
            <div class="modal-body" align="left">
              <div class="form-group">
                <label for="username">Username / E-mail</label>
                  <p>
                    {{ login_form.username(placeholder=login_form.username.render_kw['placeholder'], class="form-control") }}
                    <span class="error">
                      {% if login_form.username.errors %}
                        {% for error in login_form.username.errors %}
                          {{ error }}
                        {% endfor %}
                      {% endif %}
                    </span>
                  </p>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                  <p>
                  {{ login_form.password(placeholder=login_form.password.render_kw['placeholder'], class="form-control") }}
                    <span class="error">
                      {% if login_form.password.errors %}
                        {% for error in login_form.password.errors %}
                          {{ error }}
                        {% endfor %}
                      {% endif %}
                    </span>
                  </p>
              </div>
              <div class="checkbox">
                <label for="remember_me">{{ login_form.remember_me }} Remember Me</label>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>

        </div>
      </div>
    </div>

  <!-- Register Modal -->
  {% if register_form %}
      <div class="modal fade" id="RegisterForm" tabindex="-1" role="dialog" aria-labelledby="RegisterForm">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="RegisterForm-Title">Register</h4>
          </div>

          <form id=RegisterForm" role="form" method='POST' action={{ url_for('register') }}>
            <div class="modal-body" align="left">
                {{ register_form.csrf_token }}
                <div class="modal-body" align="left">
                  <div class="form-group">
                      <label for="username">Username {% if register_form.username.flags.required %}*{% endif %}</label>
                      <p>{{ register_form.username(placeholder=register_form.username.render_kw['placeholder'], class="form-control") }}
                        <span class="error">
                          {% if register_form.username.errors %}
                            {% for error in register_form.username.errors %}
                              {{ error }}
                            {% endfor %}
                          {% endif %}
                        </span></p>
                  </div>
                  <div class="form-group">
                      <label for="email">E-mail {% if register_form.email.flags.required %}*{% endif %}</label>
                      <p>{{ register_form.email(placeholder=register_form.email.render_kw['placeholder'], class="form-control") }}
                        <span class="error">
                          {% if register_form.password.errors %}
                            {% for error in register_form.email.errors %}
                              {{ error }}
                            {% endfor %}
                          {% endif %}
                        </span></p>
                  </div>
                  <div class="form-group">
                      <label for="password">Password {% if register_form.password.flags.required %}*{% endif %}</label>
                      <p>{{ register_form.password(placeholder=register_form.password.render_kw['placeholder'], class="form-control") }}
                        <span class="error">
                          {% if register_form.password.errors %}
                            {% for error in register_form.password.errors %}
                              {{ error }}
                            {% endfor %}
                          {% endif %}
                        </span></p>
                  </div>
                  <div class="form-group">
                      <label for="confirm">Confirm Password {% if register_form.confirm.flags.required %}*{% endif %}</label>
                      <p>{{ register_form.confirm(placeholder=register_form.confirm.render_kw['placeholder'], class="form-control") }}
                        <span class="error">
                          {% if register_form.confirm.errors %}
                            {% for error in register_form.confirm.errors %}
                              {{ error }}
                            {% endfor %}
                          {% endif %}
                        </span></p>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  {% endif %}

{% endif %}