<!-- Dynamic Modals -->

{% if modals %}
  {% for modal in modals.keys()|sort -%}
    {# Variables #}
    {% set form = forms[modals[modal]['form_id']] %}

    {# Modal #}
    <div class="modal fade" id="{{ modals[modal]['id'] }}" tabindex="-1" role="dialog" aria-labelledby="{{ modals[modal]['aria_label'] }}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="{{ modals[modal]['title_id'] }}">{{ modals[modal]['title'] }}</h4>
          </div>

          {# Form #}
          <div class="modal-body" align="left">
            <form id="{{ form.form_id }}" role="form" method='POST' action="{{ url_for(request.endpoint) }}">
                {{ form.csrf_token }}

                {# User Add/Update Forms #}
                {% if form.form_id == 'User-Add-Form' or 'User-Update-Form'%}
                    <h3>Account Information</h3>
                    {% for field in form %}
                      {% if field.render_kw['section'] == 'account' %}
                        <div class="form-group">
                          <label for="{{ field.name }}">{{ field.render_kw['placeholder'] }}</label>
                          {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}
                    <h3>Administrative Roles/Permissions</h3>
                    {% for field in form %}
                      {% if field.render_kw['section'] == 'admin' %}
                        <div class="form-group">
                          <label for="{{ field.name }}">{{ field.render_kw['placeholder'] }}</label>
                          {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}
                    <h3>Group Roles/Permissions</h3>
                    {% for field in form %}
                      {% if field.render_kw['section'] == 'groups' %}
                        <label for="{{ field.name }}">{{ field.render_kw['placeholder'] }}</label>
{#                        {% if field.name == 'oms_role' %}Operations:#}
{#                        {% elif field.name == 'crm_role' %}Customer Relations:#}
{#                        {% elif field.name == 'hrm_role' %}Human Resources:#}
{#                        {% elif field.name == 'ams_role' %}Accounting:#}
{#                        {% elif field.name == 'mms_role' %}Marketing: {% endif %}#}
                        <div class="form-group">
                          {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}

                {# Other Forms #}
                {% else %}
                    {% for field in form %}
                      <div class="form-group">
                          <p>{{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                            <span class="error">
{#                              {% if form.username.errors %}#}
{#                                {% for error in form.username.errors %} {{ error }} {% endfor %}#}
                              {% if field.errors %}
                                {% for error in field.errors %} {{ error }} {% endfor %}
                              {% endif %}
                          </span></p>
                      </div>
                    {% endfor %}
                {% endif %}

                <div class="modal-footer">
                  {% if form.crud_type == 'Update' or form.crud_type == 'Delete' %}
                    <div style="float:left">
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#ConfirmDelete{{ form.form_id }}">Delete</button>
                    </div>
                    <div style="float:right">
                  {% else %}
                    <div>
                  {% endif %}
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" name="form_submit" value="{{ form.form_id }}" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Confirmation -->
    <div class="modal fade" id="ConfirmDelete{{ form.form_id }}" tabindex="-1" role="dialog" aria-labelledby="ConfirmDelete{{ form.form_id }}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="ConfirmDelete{{ form.form_id }}Title">Confirm Delete</h4>
          </div>
          <div class="modal-body" align="center">
            Are you sure?
          </div>
          <div class="modal-footer">
            <div style="float:left">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Don't delete.</button>
            </div>
            <div style="float:right">
              <button type="submit" class="btn btn-danger">Yes, I'm sure.</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}
{% endif %}

<!-- Message Popup -->
    {% for message in messages %}
        <div class="modal fade" id="Message{{ message.id }}" tabindex="-1" role="dialog" aria-labelledby="Message{{ message.id }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Messages{{ message.id }}Title">{{ message.title }}</h4>
              </div>

              <div class="modal-body" align="left">
                {{ message.body }}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Mark Read</button>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}

    {% for notification in app_notifications %}
        <div class="modal fade" id="Message{{ notification.id }}" tabindex="-1" role="dialog" aria-labelledby="Message{{ notification.id }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Messages{{ notification.id }}Title">{{ notification.title }}</h4>
              </div>

              <div class="modal-body" align="left">
                {{ notification.body }}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Mark Read</button>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}

{% if logged_in == False %}

<!-- Login Modal -->
    <div class="modal fade" id="LoginForm" tabindex="-1" role="dialog" aria-labelledby="LoginForm">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="LoginForm-Title">Login</h4>
          </div>

          <form id=LoginForm" role="form" method='POST' action={{ url_for('login') }}>
            {{ login_form.hidden_tag() }}
            {{ login_form.csrf_token }}
            <div class="modal-body" align="left">
              <div class="form-group">
                <label for="username">Username / E-mail</label>
                  <p>
                    {{ login_form.username(placeholder=login_form.username.render_kw['placeholder'], class="form-control") }}
                    <span class="error">
                      {% if login_form.username.errors %}
                        {% for error in login_form.username.errors %}
                          {{ error }}
                        {% endfor %}
                      {% endif %}
                    </span>
                  </p>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                  <p>
                  {{ login_form.password(placeholder=login_form.password.render_kw['placeholder'], class="form-control") }}
                    <span class="error">
                      {% if login_form.password.errors %}
                        {% for error in login_form.password.errors %}
                          {{ error }}
                        {% endfor %}
                      {% endif %}
                    </span>
                  </p>
              </div>
              <div class="checkbox" for="remember_me">
                <label>{{ login_form.remember_me }} Remember Me</label>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>

        </div>
      </div>
    </div>

  <!-- Register Modal -->
  {% if register_form %}
      <div class="modal fade" id="RegisterForm" tabindex="-1" role="dialog" aria-labelledby="RegisterForm">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="RegisterForm-Title">Register</h4>
          </div>

          <form id=RegisterForm" role="form" method='POST' action={{ url_for('register') }}>
            <div class="modal-body" align="left">
                {{ register_form.csrf_token }}
                <div class="modal-body" align="left">
                  <div class="form-group">
                      <label for="username">Username</label>
                      <p>{{ register_form.username(placeholder=register_form.username.render_kw['placeholder'], class="form-control") }}
                        <span class="error">
                          {% if register_form.username.errors %}
                            {% for error in register_form.username.errors %}
                              {{ error }}
                            {% endfor %}
                          {% endif %}
                        </span></p>
                  </div>
                  <div class="form-group">
                      <label for="email">E-mail</label>
                      <p>{{ register_form.email(placeholder=register_form.email.render_kw['placeholder'], class="form-control") }}
                        <span class="error">
                          {% if register_form.password.errors %}
                            {% for error in register_form.email.errors %}
                              {{ error }}
                            {% endfor %}
                          {% endif %}
                        </span></p>
                  </div>
                  <div class="form-group">
                      <label for="password">Password</label>
                      <p>{{ register_form.password(placeholder=register_form.password.render_kw['placeholder'], class="form-control") }}
                        <span class="error">
                          {% if register_form.password.errors %}
                            {% for error in register_form.password.errors %}
                              {{ error }}
                            {% endfor %}
                          {% endif %}
                        </span></p>
                  </div>
                  <div class="form-group">
                      <label for="confirm">Confirm Password</label>
                      <p>{{ register_form.confirm(placeholder=register_form.confirm.render_kw['placeholder'], class="form-control") }}
                        <span class="error">
                          {% if register_form.confirm.errors %}
                            {% for error in register_form.confirm.errors %}
                              {{ error }}
                            {% endfor %}
                          {% endif %}
                        </span></p>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  {% endif %}

{% endif %}