<!-- Unnecessary  -->
{# {% extends "../index.html" %} #}
<!-- /Unnecessary  -->

		  <div class="row">
            <p><small>Powered by the Pythonic Dashboard.</small></p>
          </div><!-- /.row -->

<!-- Broken  -->
<!-- {% block content_footer -%}
          <h1>
            Dashboard
            <small>Preview page</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
          </ol>
{%- endblock content_footer %} -->

<!-- /Broken  -->