{% extends "base.html" %}

<!-- Body & Angular App -->
{% block body_attribs -%}
  {{ super() }}
  ng-app="app"
  ng-controller="customerUpdateModalWrapperController"
{%- endblock body_attribs %}

<!-- Content -->
{% block content_header -%}
  {% include "core_components/content_area/content_header.html" %} <!-- Content: Header -->
{%- endblock content_header %}

{% block content -%}
    {# - Use html of super-block template.#}
    {{ super() }}

{#  <h3 class="content-header">Customer List</h3>#}
  <h3 class="content-header">Customer List</h3>
    {# Toolbar #}
    <ul class="nav nav-tabs">
      <li>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Customer-Add-Modal">
            Add New <span class="fa fa-user-plus"></span>
          </button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" data-toggle="modal" data-target="#Customer-CSV-Upload-Modal"><span class="fa fa-upload"></span>Upload CSV</a></li>
          </ul>
        </div>
      </li>

      <li><span>&nbsp;&nbsp;&nbsp;</span></li>

      <li class="active"><a data-toggle="tab" href="#contact-info">Contact Info</a></li>
      <li><a data-toggle="tab" href="#identifiers">Identifiers</a></li>
      <li><a data-toggle="tab" href="#services-and-authorizations">Services & Authorizations</a></li>
      <li><a data-toggle="tab" href="#billing-info">Billing Info</a></li>
      <li><a data-toggle="tab" href="#case-notes">Case Notes</a></li>
      <li><a data-toggle="tab" href="#relationships">Relationships</a></li>
      <li><a data-toggle="tab" href="#other">Other</a></li>
    </ul>


    {# Content #}
{#    <div class="tab-content">#}
{#    <div class="tab-content" ng-controller="customerUpdateModalWrapperController">#}
    <div class="tab-content">

      <div id="contact-info" class="tab-pane fade in active">
        <table class="table">
          <tr>
            <th>#</th>
            {% for pair in data_tree['common_fields'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
            {% for pair in data_tree['sections']['customer_contacts'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
          </tr>
          {% for c in customers %}
            {#<tr data-toggle="modal" data-id="{{ c.id }}" data-target="#Customer-Update-Modal{{ c.id }}">#}
{#            <tr href ng-click="show()">#}
{#            <tr href ng-click="show({{ c.id }})">#}
{#              <tr id="{{ c.id }}" href ng-click="show()" ng-click="clickEvent($event)">#}
{#              <tr id="{{ c.id }}" href ng-click="show($event)">#}
{#              <tr id="hello" href ng-click="show($event)">#}
              <tr>
{#              <td><a id="hello" href ng-click="show($event)">{{ loop.index }}</a></td>#}
              <td id={{ c.id }} href ng-click="show($event)">{{ loop.index }}</td>
              {% for pair in data_tree['common_fields'] %}
                {% for label, key in pair.items() %}
                  <td id={{ c.id }} href ng-click="show($event)">{{ c[key] or ''}}</td>
                {% endfor %}
              {% endfor %}
              {% for pair in data_tree['sections']['customer_contacts'] %}
                {% for label, key in pair.items() %}
                  {# Multiple fields in 1 cell #}
                  {% if key is sequence and key is not mapping and key is not string %}
                    <td id={{ c.id }} href ng-click="show($event)">
                      {#{% for sub_key in key[:-1] %}#}
                      {% for sub_key in key %}
                        {# Delimited fields #}
                        {{ c[sub_key] or ''}}{% if c[sub_key] %}{% if not loop.last %},&nbsp;{% endif %}{% endif %}
                        {#{% if c[sub_key] %}{% if not loop.last %}{% if sub_key == 'address_zip' and c['address_zip_extension'] %}-{% else %},&nbsp;{% endif %}{% endif %}{% endif %}#}
                      {% endfor %}
                    </td>
                  {% else %}
                    {# 1 field in 1 cell #}
                    <td id={{ c.id }} href ng-click="show($event)">{{ c[key] or ''}}</td>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div>

      <div id="identifiers" class="tab-pane fade">
        <table class="table">
          <tr>
            <th>#</th>
            {% for pair in data_tree['common_fields'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
            {% for pair in data_tree['sections']['customer_identifiers'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
          </tr>
          {% for c in customers %}
            <tr data-toggle="modal" data-id="{{ c.id }}" data-target="#Customer-Update-Modal{{ c.id }}">
              <td>{{ loop.index }}</td>
              {% for pair in data_tree['common_fields'] %}
                {% for label, key in pair.items() %}
                  <td>{{ c[key] or ''}}</td>
                {% endfor %}
              {% endfor %}
              {% for pair in data_tree['sections']['customer_identifiers'] %}
                {% for label, key in pair.items() %}
                  {# Multiple fields in 1 cell #}
                  {% if key is sequence and key is not mapping and key is not string %}
                    <td>
                      {#{% for sub_key in key[:-1] %}#}
                      {% for sub_key in key %}
                        {# Delimited fields #}
                        {{ c[sub_key] or ''}}{% if c[sub_key] %}{% if not loop.last %},&nbsp;{% endif %}{% endif %}
                        {#{% if c[sub_key] %}{% if not loop.last %}{% if sub_key == 'address_zip' and c['address_zip_extension'] %}-{% else %},&nbsp;{% endif %}{% endif %}{% endif %}#}
                      {% endfor %}
                    </td>
                  {% else %}
                    {# 1 field in 1 cell #}
                    <td>{{ c[key] or ''}}</td>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div>

      <div id="services-and-authorizations" class="tab-pane fade">
        <table class="table">
          <tr>
            <th>#</th>
            {% for pair in data_tree['common_fields'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
            {% for pair in data_tree['sections']['customer_services_and_authorizations'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
          </tr>
          {% for c in customers %}
            <tr data-toggle="modal" data-id="{{ c.id }}" data-target="#Customer-Update-Modal{{ c.id }}">
              <td>{{ loop.index }}</td>
              {% for pair in data_tree['common_fields'] %}
                {% for label, key in pair.items() %}
                  <td>{{ c[key] or ''}}</td>
                {% endfor %}
              {% endfor %}
              {% for pair in data_tree['sections']['customer_services_and_authorizations'] %}
                {% for label, key in pair.items() %}
                  <td>{{ c[key] or ''}}</td>
                {% endfor %}
              {% endfor %}
            </tr>
          {% endfor %}
          </table>
      </div>

      <div id="billing-info" class="tab-pane fade">
        <table class="table">
          <tr>
            <th>#</th>
            {% for pair in data_tree['common_fields'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
            {% for pair in data_tree['sections']['customer_billing_info'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
          </tr>
          {% for c in customers %}
            <tr data-toggle="modal" data-id="{{ c.id }}" data-target="#Customer-Update-Modal{{ c.id }}">
              <td>{{ loop.index }}</td>
              {% for pair in data_tree['common_fields'] %}
                {% for label, key in pair.items() %}
                  <td>{{ c[key] or ''}}</td>
                {% endfor %}
              {% endfor %}
              {% for pair in data_tree['sections']['customer_billing_info'] %}
                {% for label, key in pair.items() %}
                  <td>{{ c[key] or ''}}</td>
                {% endfor %}
              {% endfor %}
            </tr>
          {% endfor %}
          </table>
      </div>

      <div id="case-notes" class="tab-pane fade">
        <table class="table">
          <tr>
            <th>#</th>
            {% for pair in data_tree['common_fields'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
            {% for pair in data_tree['sections']['customer_case_notes'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
          </tr>
          {% for c in customers %}
            <tr data-toggle="modal" data-id="{{ c.id }}" data-target="#Customer-Update-Modal{{ c.id }}">
              <td>{{ loop.index }}</td>
              {% for pair in data_tree['common_fields'] %}
                {% for label, key in pair.items() %}
                  <td>{{ c[key] or ''}}</td>
                {% endfor %}
              {% endfor %}
              {% for pair in data_tree['sections']['customer_case_notes'] %}
                {% for label, key in pair.items() %}
                  <td>{{ c[key] or ''}}</td>
                {% endfor %}
              {% endfor %}
            </tr>
          {% endfor %}
          </table>
      </div>

      <div id="relationships" class="tab-pane fade">
        <table class="table">
          <tr>
            <th>#</th>
            {% for pair in data_tree['common_fields'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
            {% for pair in data_tree['sections']['customer_relationships'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
          </tr>
          {% for c in customers %}
            <tr data-toggle="modal" data-id="{{ c.id }}" data-target="#Customer-Update-Modal{{ c.id }}">
              <td>{{ loop.index }}</td>
              {% for pair in data_tree['common_fields'] %}
                {% for label, key in pair.items() %}
                  <td>{{ c[key] or ''}}</td>
                {% endfor %}
              {% endfor %}
              {% for pair in data_tree['sections']['customer_relationships'] %}
                {% for label, key in pair.items() %}
                  <td>{{ c[key] or ''}}</td>
                {% endfor %}
              {% endfor %}
            </tr>
          {% endfor %}
          </table>
      </div>

      <div id="other" class="tab-pane fade">
        <table class="table">
          <tr>
            <th>#</th>
            {% for pair in data_tree['common_fields'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
            {% for pair in data_tree['sections']['customer_other'] %}
              {% for label, key in pair.items() %}
                <th>{{ label }}</th>
              {% endfor %}
            {% endfor %}
          </tr>
          {% for c in customers %}
            <tr data-toggle="modal" data-id="{{ c.id }}" data-target="#Customer-Update-Modal{{ c.id }}">
              <td>{{ loop.index }}</td>
              {% for pair in data_tree['common_fields'] %}
                {% for label, key in pair.items() %}
                  <td>{{ c[key] or ''}}</td>
                {% endfor %}
              {% endfor %}
              {% for pair in data_tree['sections']['customer_other'] %}
                {% for label, key in pair.items() %}
                  <td>{{ c[key] or ''}}</td>
{#                  <td>{{ c[key] if c[key] is not None else '' }}</td>#}
                {% endfor %}
              {% endfor %}
            </tr>
          {% endfor %}
          </table>
      </div>

    </div>



    {# Temporary Dev Playground #}
    <br/><br/>
    <h3>Development Playground</h3>
    {#<div ng-app="app">#}
{#      <div ng-controller="customerUpdateModalWrapperController">#}
        <a class="btn btn-default" href ng-click="show()">Open Modal</a>
{#      </div>#}

      {{ customer_id|angular }}

      <br/><br/>

      <div ng-controller="customerApiController">
        {{ details|angular }}
        <div ng-if="!details">
          Loading results...
        </div>
        <div ng-if="details.Response==='True'">
          {{ details|angular }}
        </div>
        <div ng-if="details.Response==='False'">
          No results found.
        </div>
      </div>
    {#</div>#}
    {# Temporary Dev Playground #}

{%- endblock content %}
