{% extends "base.html" %}


<!-- Content -->
{% block body_attribs -%}
  {{ super() }}
  ng-app="app" ng-controller="CrmController as app"
{%- endblock body_attribs %}

{% block content_header -%}
  {% include "core_components/content_area/content_header.html" %} <!-- Content: Header -->
{%- endblock content_header %}

{% block content -%}
{#  <div page-header>#}
{#    <h4 class="page-header">Customer Relationship Management</h4>#}
{#  </div>#}

    {# - Use html of super-block template.#}
    {{ super() }}

  <h3 class="content-header">Customer List</h3>

  <ol class="breadcrumb">
    <li>
      {# Add New / Import CSV #}
      <div class="btn-group">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Customer-Add-Modal">
          Add New <span class="fa fa-user-plus"></span>
        </button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" data-toggle="modal" data-target="#Customer-CSV-Upload-Modal"><span class="fa fa-upload"></span>Upload CSV</a></li>
        </ul>
      </div>
    </li>

    {# Data Filters #}
    {# THIS would be what I want     #}
{#    <li ng-repeat="tab in app.tabs" ng-class="{ active: isSet($index) }">#}
{#      <a href ng-click="setTabz($index)">{a tab.label a}</a>#}
{#    </li>#}


{#EXPIRMENT#}
{#  <div class="row" ng-controller="TabController">#}
{#  	<div class="col-md-2">#}
{#  		<ul class="nav nav-pills nav-stacked">#}
{#       	<li >#}
{#          	<a href >Home</a>#}
{#       	</li>#}
{#       	<li ng-class="{ active: isSet(2) }">#}
{#          	<a href ng-click="setTab(2)">Profile</a>#}
{#       	</li>#}
{#       	<li ng-class="{ active: isSet(3) }">#}
{#          	<a href ng-click="setTab(3)">Messages</a>#}
{#       	</li>#}
{#     	</ul>#}
{#  	</div>#}



{# Uncomment this when ready to experiment ------------#}
{#  	<div class="col-md-2">#}
{#  		<ul class="nav nav-pills nav-stacked">#}
{#       	<li ng-class="{ active: isSet(1) }">#}
{#          	<a href ng-click="setTabz(1)">Home</a>#}
{#       	</li>#}
{#       	<li ng-class="{ active: isSet(2) }">#}
{#          	<a href ng-click="setTabz(2)">Profile</a>#}
{#       	</li>#}
{#       	<li ng-class="{ active: isSet(3) }">#}
{#          	<a href ng-click="setTabz(3)">Messages</a>#}
{#       	</li>#}
{#     	</ul>#}
{#  	</div>#}
{##}
{##}
{#    <div class="col-md-8">#}
{#  		<div class="jumbotron">#}
{#       	<div ng-show="isSet(1)">#}
{#         	 <h1>Home page</h1>#}
{#          	<p>Welcome to the website!</p>#}
{#         	 <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>#}
{#        	</div>#}
{#			<div ng-show="isSet(2)">#}
{#          <h1>Profile page</h1>#}
{#          <p>Profile information</p>#}
{#     	</div>#}
{#        <div ng-show="isSet(3)">#}
{#          <h1>Messages</h1>#}
{#          <p> Some messages </p>#}
{#     	</div>#}
{#  	</div>#}
{#  </div>#}
{#EXPIRMENT#}


    {# Legacy Jinja2 Data Filters #}
    {#    {% for item in data_sections %}#}
    {#      <li>#}
    {#        <a href="{{ url_for(item.section) }}">{{ item.label }}</a>#}
    {#      </li>#}
    {#    {% endfor %}#}
  </ol>
  <div>

    {# DEBUGGING #}
{#    <div class="customer-table">#}
{#      <table class="table">#}
{#        <tr>#}
{#          <th>TEST</th>#}
{#        </tr>#}
{#        <tr>#}
{#          <td>TEST</td>#}
{#        </tr>#}
{#      </table>#}
{#    </div>#}

    {# DEBUGGING #}

    {#    <div ng-if="app.selected_tab == ''">#}
{#    <div>#}
{#    <table class="table">#}
{#      <tr>#}
{#          <th>#</th>#}
{#          <th>Last Name</th>#}
{#          <th>First Name</th>#}
{#          <th>Type</th>#}
{#          <th>Phone #</th>#}
{#          <th>Address</th>#}
{#      </tr>#}
{#        <tr ng-repeat="c in app.customers" data-toggle="modal" data-id="{a c.id a}" data-target="#Customer-Update-Modal{a c.id a}">#}
{#          <td>{a c.id a}</td>#}
{#          <td>{a c.name_last a}</td>#}
{#          <td>{a c.name_first a}</td>#}
{#          <td>{a c.customer_type a}</td>#}
{#          <td>{a c.phone1 a}</td>#}
{#          <td>{a c.address_street a}, <span ng-if="c.address_suite">{a c.address_suite a}, </span>#}
{#              {a c.address_city a}, {a c.address_state a} {a c.address_zip a}<span ng-if="c.address_zip_extension">-#}
{#              {a c.address_zip_extension a}</span></td>#}
{#        </tr>#}
{#    </table>#}
{#    </div>#}



{# -- Legacy Jinja2 Table, Version 2.0 -- #}
    <table class="table">
      <tr>
          <th>#</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Type</th>
          <th>Phone #</th>
          <th>Address</th>
      </tr>
      {% for c in customers %}
        <tr data-toggle="modal" data-id="{{ c.id }}" data-target="#Customer-Update-Modal{{ c.id }}">
          <td>{{ loop.index }}</td>
          <td>{{ c.name_last }}</td>
          <td>{{ c.name_first }}</td>
          <td>{{ c.customer_type }}</td>
          <td>{{ c.phone1 }}</td>
          <td>{{ c.address_street }}, {% if c.address_suite %}{{ c.address_suite}},  {% endif %}
              {{ c.address_city }}, {{ c.address_state }} {{ c.address_zip }}{% if c.address_zip_extension %}-{{ c.address_zip_extension }}{% endif %}</td>
        </tr>
      {% endfor %}
    </table>

{# -- Legacy Jinja2 Table, Version 1.0 -- #}
{#    <table class="table">#}
{#      <tr>#}
{#          <th>#</th>#}
{#          <th>First Name</th>#}
{#          <th>Last Name</th>#}
{#          <th>Phone Number</th>#}
{#      </tr>#}
{#      {% for key, value in customer_data.items() %}#}
{#        <tr data-toggle="modal" data-id="{{ value.id }}" data-target="#Customer-Update-Modal">#}
{#          <td>{{ loop.index }}</td>#}
{#          <td>{{ value.first_name }}</td>#}
{#          <td>{{ value.last_name }}</td>#}
{#          <td>{{ value.phone_number }}</td>#}
{#        </tr>#}
{#      {% endfor %}#}
{#    </table>#}
  </div>

{%- endblock content %}