{#                {% if form.form_id == 'User-Add-Form' or 'User-Update-Form'%}#}
                    <h3>Account Information</h3>
                    {% for field in form %}
                      {% if field.render_kw['section'] == 'account' %}
                        <div class="form-group">
                          <label for="{{ field.name }}">{{ field.render_kw['label'] }} {% if field.flags.required %}*{% endif %}</label>
                          {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}
                    <h3>Roles and Permissions</h3>
{#                    <h3>Administrative Roles/Permissions</h3>#}
                    {% for field in form %}
                      {% if field.render_kw['section'] == 'admin' %}
                        <div class="form-group">
                          <i class="{{ field.render_kw['icon'] }}"></i> <label for="{{ field.name }}">{{ field.render_kw['placeholder'] }}</label>
                          {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}
{#                    <h3>Group Roles/Permissions</h3>#}
                    {% for field in form %}
                      {% if field.render_kw['section'] == 'groups' %}
                        <i class="{{ field.render_kw['icon'] }}"></i> <label for="{{ field.name }}">{{ field.render_kw['placeholder'] }}</label>
                        <div class="form-group">
                          {{ field(placeholder=field.render_kw['placeholder'], class='form-control') }}
                          <p><span class="error">
                            {% if field.errors %}
                            {% for error in field.errors %} {{ error }} {% endfor %}
                        {% endif %}</span></p></div>
                      {% endif %}
                    {% endfor %}
