    <div class="modal fade" id="LoginForm" tabindex="-1" role="dialog" aria-labelledby="LoginForm">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="LoginForm-Title">Login</h4>
          </div>

          <form id=LoginForm" role="form" method='POST' action={{ url_for('index') }}>
            {{ login_form.hidden_tag() }}
            {{ login_form.csrf_token }}
            <div class="modal-body" align="left">
              <div class="form-group">
                {#                <label for="username">Username / E-mail</label>#}
                <label for="username">Username</label>
                  <p>
                    {{ login_form.username(placeholder=login_form.username.render_kw['placeholder'], class="form-control") }}
                    <span class="error">
                      {% if login_form.username.errors %}
                        {% for error in login_form.username.errors %}
                          {{ error }}
                        {% endfor %}
                      {% endif %}
                    </span>
                  </p>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                  <p>
                  {{ login_form.password(placeholder=login_form.password.render_kw['placeholder'], class="form-control") }}
                    <span class="error">
                      {% if login_form.password.errors %}
                        {% for error in login_form.password.errors %}
                          {{ error }}
                        {% endfor %}
                      {% endif %}
                    </span>
                  </p>
              </div>
              <div class="checkbox">
                <label for="remember_me">{{ login_form.remember_me }} Remember Me</label>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>

        </div>
      </div>
    </div>