    {% for message in messages %}
        <div class="modal fade" id="Message{{ message.id }}" tabindex="-1" role="dialog" aria-labelledby="Message{{ message.id }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Messages{{ message.id }}Title">{{ message.title }}</h4>
              </div>

              <div class="modal-body" align="left">
                {{ message.body }}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Mark Read</button>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}

    {% for notification in notifications %}
        <div class="modal fade" id="Message{{ notification.id }}" tabindex="-1" role="dialog" aria-labelledby="Message{{ notification.id }}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Messages{{ notification.id }}Title">{{ notification.title }}</h4>
              </div>

              <div class="modal-body" align="left">
                {{ notification.body }}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Mark Read</button>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
