{% extends "adminlte/base.html" %}
{% import "adminlte/fixes.html" as fixes %}


<!-- Header -->
{%  block header -%}
    <header class="header">
      <a href="/" class="logo">
          <!-- Add the class icon to your logo image or logo icon to add the margining -->
          {# Just-a-Dash #}
          <span class="glyphicon glyphicon-equalizer" aria-hidden="true"> Just-a-Dash</span>
      </a>

      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
      {% block navbar %}
          {% include "core_components/navbar/sidebar_toggle_button.html" %} <!-- Sidebar Toggle -->
          <div class="navbar-right">
            <ul class="nav navbar-nav">
              {% include "core_components/navbar/messages_menu.html" %} <!-- Messages -->
              {% include "core_components/navbar/notifications_menu.html" %} <!-- Notifications -->
              {% include "core_components/navbar/tasks_menu.html" %} <!-- Tasks -->
              {% include "core_components/navbar/user_menu.html" %} <!-- User Account -->
            </ul>
          </div>
        {%- endblock navbar %}
      </nav>
    </header>
{%- endblock header %}


<!-- Sidebar -->
{% block sidebar -%}
  {% include "core_components/sidebar/sidebar.html" %} <!-- Sidebar -->
{%- endblock sidebar %}


<!-- Modals -->
{% block modals -%}
    <!-- Login Form -->
    <div class="modal fade" id="LoginForm" tabindex="-1" role="dialog" aria-labelledby="LoginForm">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="LoginForm-Title">Login</h4>
          </div>
          <div class="modal-body" align="left">

            <form id="LoginForm" action="" method="post" name="login">
              {{ login_form.hidden_tag() }}
              <p>E-mail / Username: <input type="text" name="username" title="username"/></p>
              <p>Password: <input type="password" name="password" title="password"/></p>
              <p>{{ login_form.remember_me }} Remember Me</p>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Login</button>
          </div>
        </div>
      </div>
    </div>


{#      #}
{#      #}
{#          {{ login_form.openid(size=80) }}#}
{##}
{#          {% for error in login_form.openid.errors %}#}
{#            <span style="color: red;">[{{ error }}</span>#}
{#          {% endfor %}<br/>#}
{##}
{#          |{% for pr in providers %}#}
{#            <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');">{{ pr.name }}</a> |#}
{#          {% endfor %}#}
{#      #}



      <p><input type="submit" value="Sign In"></p>



    <!-- Register Form -->
    <div class="modal fade" id="RegisterForm" tabindex="-1" role="dialog" aria-labelledby="RegisterForm">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="RegisterForm-Title">Login</h4>
          </div>
          <div class="modal-body" align="left">

            <form id="RegisterForm">
              <p>E-mail: <input type="text" name="email" title="email"/></p>
              <p>Username: <input type="text" name="username" title="username"/></p>
              <p>Password: <input type="password" name="password" title="password"/></p>
              <p>Repeat Password: <input type="password" name="password-verify" title="password-verify"/></p>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Login</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Dynamic Form -->
    <div class="modal fade" id="DynamicForm" tabindex="-1" role="dialog" aria-labelledby="DynamicForm">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="DynamicForm-Title">Add {{ form_title }}</h4>
          </div>
          <div class="modal-body" align="left">

            <form id="DynamicForm">
              <p>First Name: <input type="text" name="First Name" title="first-name"/></p>
              <p>Last Name: <input type="text" name="Last Name" title="last-name"/></p>
              <p>Phone Number: <input type="text" name="Phone Number" title="phone-number"/></p>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
{%- endblock modals %}
